/* Debug */
/* .debug {
    border: 1px dashed black;
    min-height: 100px;
    min-width: 50px; 
}  */
:root {
    --header-height: 60px;
}
.bg-color {
    background-color: #1B72E8;
}
header {
    height: var(--header-height);
}
.main-section {
    height: calc(100vh - var(--header-height));
} 
.w-img {
    height: 20px;
}
.w-logo {
    height: 50px;
}
.offcanvas.offcanvas-end {
    width: 50%;
}
.pa {
    position: absolute;
    top: 10;
    bottom: 10;
    padding: 10px;
}
.gray:hover {
    background-color: lightgray;
}
#grad {
    background-image: linear-gradient(rgb(23, 23, 37), rgb(0, 0, 75));
  }